{% extends "layout.html" %}
{% import "components.html" as ui %}

{% block title %}Your password was changed{% endblock %}
{% block preview_text %}The password for your Starter account was just changed.{% endblock %}
{% block footer_reason %}You received this email because this is the email address on your Starter account.{% endblock %}

{% block content %}
<h1 style="margin: 0 0 16px 0; font-size: 24px; line-height: 32px; font-weight: 700; color: #1C1917;">Your password was changed</h1>
<p style="margin: 0 0 16px 0; font-size: 16px; line-height: 26px; color: #1C1917;">The password for your account was just changed. You'll use the new password the next time you sign in.</p>
{{ ui::security_notice("If you didn't make this change, reset your password immediately and contact support.") }}
<p style="margin: 0; font-size: 14px; line-height: 22px; color: #57534E;">If this was you, there's nothing else to do.</p>
{% endblock %}
